body {font-family:"Roboto", sans-serif; 
   color: #2E2F42;
}
h2 {
   text-align: center;
   font-size: 36px;
   font-weight: 700;
   line-height: 1.11;
   letter-spacing: 0.72px;
   text-transform: capitalize;
}

h3 {
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.4px;
}

p {
   font-size: 16px;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 0.32px;
}

.logo {
   color: #4D5AE5;
   font-family: "Raleway";
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.54px;
   text-transform: uppercase;
}

.logo__header {
   color: #2E2F42;
}

.header__link {
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.32px;
}

.address__link, .benefits__text, .team__text, .portfolio__text {
   color: #434455;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.32px;
}

.hero {
   background-color: #2E2F42;
}

.hero__title {
   color: #FFF;
   text-align: center;
   font-size: 56px;
   font-weight: 700;
   line-height: 1.07;
   letter-spacing: 1.12px;
}

.hero__button {
   background-color: #4D5AE5;
}

.button__text {
   color: #FFF;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.64px;
}

.tittle {
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.4px;
}

.team {
   background-color: #F4F4FD;
}

.footer {
   background-color: #2E2F42;
}

.logo__footer {
color: #F4F4FD;
}

.footer__text {
   color: #F4F4FD;
}